@use "/src/app/styles/variables.scss" as *;

.boxBorder {
  position: relative;
  display: inline-block;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  top: -6px;

  p {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: 1.25;
    letter-spacing: $letter-spacing-minus-2;
    position: relative;
    background: linear-gradient(45deg, #7a9cf5 33%, #a4bdfe 66%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 136px;
    padding: var(--border-size);
    background: linear-gradient(255deg, #a4bdfe 16.14%, #7a9cf5 103.93%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;

    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
  }
}
