@use '/src/app/styles/variables.scss' as *;
@use '/src/app/styles/mixins.scss' as *;

.hereSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: rem(105) 0 rem(85);

    &__textBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: rem(629);

        h1 {
            font-size: clamp-font(36, 65);
            font-weight: $font-weight-medium;
            line-height: 1.08;
            letter-spacing: $letter-spacing-minus-2;
            color: $color-foreground-dark;
            opacity: 0;
        }

        p {
            text-align: center;
            font-size: 16px;
            font-weight: $font-weight-medium;
            line-height: 1.4;
            letter-spacing: $letter-spacing-2;
            color: $color-foreground-dark;
            margin-top: rem(35);
            padding: 0 rem(16);
            opacity: 0;
        }
    }

    &__window {
        position: relative;
        margin-top: rem(50);
        width: rem(460);
        height: rem(269);
        padding: rem(4);
        border-radius: rem(40);
        background: linear-gradient(90deg, #7A9CF5 33%, #A4BDFE 66%);
        opacity: 0;

        &__wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            border-radius: rem(36);
            border: none;
            box-shadow: 0 0 0 3px #fff;
            background: linear-gradient(90deg, #7A9CF5 33%, #A4BDFE 66%);
            gap: rem(18);
            padding: rem(36);

            h3,
            p {
                width: 80%;
                font-weight: $font-weight-medium;
                color: #FFF6F6;
            }

            h3 {
                width: 70%;
                font-size: clamp-font(20, 28);
                line-height: 1.2;
            }

            p {
                font-size: clamp-font(16, 20);
                line-height: 1.4;
                letter-spacing: $letter-spacing-2;
                opacity: 0.9;
            }

            &__circle {
                position: absolute;
                width: rem(70);
                height: rem(70);
                border-radius: 50%;
                top: rem(20);
                right: rem(20);
                background-image: url("/images/Here/businessPeople.webp");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &::after {
                    content: "";
                    position: absolute;
                    top: rem(3);
                    right: rem(4);
                    width: rem(14);
                    height: rem(14);
                    background-color: #B0E90F;
                    border-radius: 50%;
                    box-shadow: 0 0 14px rgba(183, 237, 30, 0.15);
                }
            }
        }
    }
}

.button {
    position: absolute;
    bottom: rem(-23);
    left: 50%;
    transform: translateX(-50%) !important;
    z-index: 1;
    opacity: 0;
}

.marqueeBackground {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: rem(163);
    gap: rem(40);
    width: 100%;
    height: rem(100);
    padding: rem(6) 0;
    opacity: 0.1;
    z-index: -1;
}

@media (max-width: 980px) {
    .hereSection {
        padding: rem(60) 0 rem(40);
    }

    .marqueeBackground {
        bottom: rem(112);
    }
}

@media (max-width: 480px) {
    .hereSection {
        padding: rem(60) 0 rem(140) 0;
        &__window {
            width: rem(350);
            height: rem(245);

            &__wrapper {
                padding: rem(28);

                h3 {
                    width: 80%;
                }

                p {
                    width: 100%;
                }

                &__circle {
                    width: rem(53);
                    height: rem(53);
                }
            }
        }
    }

    .marqueeBackground {
        bottom: 0;
    }
}