@use '/src/app/styles/variables.scss' as *;
@use '/src/app/styles/mixins.scss' as *;

.assuranceSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    padding: rem(125) 0;
    overflow: hidden;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 635px;
        gap: rem(30);
        margin-top: rem(20);
        margin-bottom: rem(78);
        color: $color-foreground-dark;

        h1 {
            text-align: center;
            font-size: clamp-font(32, 65);
            font-weight: $font-weight-medium;
            line-height: 1.05;
            letter-spacing: $letter-spacing-minus-2;
        }

        p {
            text-align: center;
            font-size: clamp-font(16, 18);
            font-weight: $font-weight-medium;
            line-height: 1.4;
            letter-spacing: $letter-spacing-2;
            max-width: 500px;
            opacity: 0.8;
        }
    }
}

.sliderSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    gap: vw(56);
    max-width: 1512px;
    overflow: hidden;
    margin: 0 auto;
}

.sliderSectionWrapper {
    position: relative;
    display: flex;
    height: 300vh;
}

.paginationBlock {
    display: flex;
    flex-direction: column;
    margin-left: rem(20);
}

.dots {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    align-items: center;
    justify-content: center;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: rgba(57, 108, 240, 0.3);
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.activeDot {
    width: 6px;
    height: 28px;
    border-radius: 20px;
    background-color: $color-primary;
}

.textBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: rem(400);
    height: 100%;
    max-height: 520px;
    gap: rem(30);
    z-index: 2;

    .textItem {
        opacity: 0.2;
        transition: opacity 0.6s ease;
        pointer-events: none;

        h1 {
            font-size: 1.625;
            font-weight: $font-weight-medium;
            line-height: 1.3;
            color: #22282B;
            text-align: left;

            @media (max-width: 980px) {
                text-align: center;
            }
        }

        p {
            margin-top: rem(12);
            font-size: 1.125;
            font-weight: $font-weight-medium;
            line-height: 1.4;
            color: $small-text;
            text-align: left;

            @media (max-width: 980px) {
                text-align: center;
            }
        }

        &.activeText {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.imageBlock {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: rem(12);

    @media (max-width: 980px) {
        order: 1;
    }
}

.imageInnerBlock,
.imagesItems {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: rem(624);
    max-height: rem(472);
    min-width: rem(354);
    min-height: rem(260);
    border-radius: rem(36);

    :global(.swiper) {
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    :global(.swiper-slide) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 480px) {
        width: 354px;
        border-radius: rem(26);
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scaleX(-1);
    border-radius: inherit;
}

@media (max-width: 980px) {
    .assuranceSection {
        padding: rem(71) vw(18) rem(36) vw(18);
    }

    .sliderSection {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        flex-direction: column;
    }

    .paginationBlock {
        order: 3;
    }

    .dots {
        flex-direction: row;
    }

    .activeDot {
        width: 28px;
        height: 6px;
    }

    .textBlock {
        order: 2;
        width: 100%;
        max-width: rem(600);
        padding: 0 rem(12);
    }

    .textItem {
        display: none;
    }

    .activeText {
        display: block;
    }

    .imageBlock,
    .imagesItems {
        order: 1;
        max-width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .textBlock {
        width: 92%;
    }
}