@use "/src/app/styles/variables.scss" as *;
@use "/src/app/styles/mixins.scss" as *;

.offerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(57);
  width: 100%;
  max-width: 1512px;
  margin: 0 auto;
  padding: rem(102) 0 rem(122) 0;

  h1 {
    white-space: nowrap;
    font-size: clamp-font(44, 80);
    font-weight: $font-weight-medium;
    line-height: 1.05;
    letter-spacing: $letter-spacing-minus-2;
    color: $color-foreground-dark;

    @media (max-width: 480px) {
      font-size: 44px;
    }
  }

  &__cardsBlock {
    display: flex;
    align-items: center;
    gap: rem(16);

    &__cardLeft {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $color-secondary;
      border-radius: rem(36);
      padding: rem(42) rem(36) 0 rem(36);
      gap: rem(32);
      width: 100%;
      max-width: 459px;

      &__title {
        display: flex;
        flex-direction: column;
        gap: rem(25);

        h2 {
          font-size: clamp-font(28, 36);
          font-weight: $font-weight-medium;
          line-height: 38px;
          letter-spacing: $letter-spacing-minus-2;
          color: #0e0e0e;
        }

        p {
          font-size: clamp-font(16, 18);
          font-weight: $font-weight-medium;
          line-height: 1.4;
          letter-spacing: $letter-spacing-2;
          color: $color-foreground-dark;
        }
      }

      &__imageBlock {
        position: relative;
        width: 100%;
        height: 282px;
        max-width: 247px;
        max-height: 504px;
        margin: 0 auto;

        &__image {
          width: 100%;
          height: 500px;
          z-index: 1;
        }

        @media (max-width: 480px) {
          width: 60%;
          height: 180px;
        }
      }

      @media (max-width: 390px) {
        padding: rem(32) rem(28) 0 rem(28);
      }
    }

    &__cardsRightBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(15);

      &__upCard {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: rem(458);
        gap: rem(24);
        padding: rem(36);
        border-radius: rem(36);
        background: #f7f9fc;

        h3 {
          font-size: clamp-font(28, 36);
          font-weight: $font-weight-medium;
          line-height: 38px;
          letter-spacing: $letter-spacing-minus-2;
          color: #0e0e0e;
        }

        p {
          font-size: 16px;
          font-weight: $font-weight-medium;
          line-height: 1.4;
          letter-spacing: $letter-spacing-2;
          color: $color-foreground-dark;
        }

        &__imageBlock {
          width: 124px;
          height: 62px;
          border-radius: rem(100);
          background-image: url("/images/TaxPartner/partner.webp");
          background-size: 120%;
          background-position: -20px top;
          background-repeat: no-repeat;
        }
      }

      &__dnCard {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        max-width: rem(458);
        padding: rem(38) 0 rem(38) rem(36);
        border-radius: rem(24);
        background: linear-gradient(90deg, #7a9cf5 33%, #a4bdfe 66%);

        h3 {
          font-size: clamp-font(20, 24);
          font-weight: $font-weight-medium;
          line-height: 1.3;
          letter-spacing: 0;
          color: $color-foreground-light;
          z-index: 1;
        }

        &__button {
          z-index: 1;
          margin-top: rem(25);
        }
      }
    }

    @media (max-width: 912px) {
      flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    padding: rem(75) rem(20) rem(83) rem(20);
    gap: rem(36);
  }
}

.union {
  position: absolute;
  left: -54px;
  bottom: 61px;
}

.vector {
  position: absolute;
  right: 0;
  bottom: -4px;
  z-index: 0;
  width: 100%;
}

.cardLeftLabelBenefit {
  position: absolute;
  left: -154px;
  top: 320px;

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 912px) {
    display: block;
    left: -140px;
    top: 313px;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.cardUpLabelBenefit {
  position: absolute;
  right: -160px;
  top: 38px;

  @media (max-width: 1024px) {
    right: -35px;
    top: 38px;
  }

  @media (max-width: 912px) {
    right: -130px;
    top: 38px;
  }

  @media (max-width: 600px) {
    display: none;
  }
}
