@use "/src/app/styles/variables.scss" as *;
@use "/src/app/styles/mixins.scss" as *;

.servicesSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: rem(62) rem(34);
  gap: rem(41);
  background-image: url("/images/IRSplusAboutUs/Services/unionBg.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;

  &__title {
    width: 100%;
    max-width: 695px;
    h1 {
      text-align: center;
      font-size: clamp-font(32, 55);
      font-weight: $font-weight-medium;
      line-height: 55px;
      letter-spacing: $letter-spacing-minus-2;

      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 1.32;
        vertical-align: text-bottom;
      }
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 585px;

    p {
      text-align: center;
      font-size: clamp-font(16, 20);
      font-weight: $font-weight-medium;
      line-height: 1.4;
      letter-spacing: $letter-spacing-2;
      opacity: 0.9;
    }
  }
}

.mobileTitle {
  display: none;
}

@media (max-width: 480px) {
  .servicesSection__title {
    display: none;
  }

  .mobileTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 695px;
    h1 {
      text-align: center;
      font-size: clamp-font(32, 55);
      font-weight: $font-weight-medium;
      line-height: 55px;
      letter-spacing: $letter-spacing-minus-2;

      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 1.32;
        vertical-align: text-bottom;
      }
    }
  }
}
