@use '/src/app/styles/variables.scss' as *;
@use '/src/app/styles/mixins.scss' as *;

.servicesSectionWrapper {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    padding: rem(20) rem(16);
}

.servicesSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1512px;
    gap: rem(44);
    padding: rem(60);
    border-radius: rem(44);
    background: #F7F9FC;

    &__upTitle {
        display: flex;
        justify-content: space-between;

        &__tagsTitle {
            display: flex;
            flex-direction: column;
            gap: rem(46);

            &__tags {
                display: flex;
                flex-direction: row;
                gap: rem(6);
            }

            h1 {
                max-width: rem(402);
                font-size: clamp-font(40, 65);
                font-weight: $font-weight-medium;
                line-height: 1.05;
                letter-spacing: $letter-spacing-minus-2;
                color: $color-foreground-dark;
            }
        }

        &__teamBlock {
            display: flex;
            flex-direction: column;
            gap: rem(39);

            &__teamPhotoBlock {
                display: flex;
                flex-direction: column;
                gap: rem(24);

                h3 {
                    text-transform: uppercase;
                    font-size: clamp-font(8, 12);
                    font-weight: 652;
                    line-height: 1.1;
                    letter-spacing: $letter-spacing-12;
                    color: $color-foreground-dark;
                }

                &__teamPhoto {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    >* {
                        position: relative;
                    }

                    >*:not(:first-child) {
                        margin-left: rem(-20);

                        @media (max-width: 480px) {
                            margin-left: rem(-16);
                        }
                    }

                    >*:nth-child(1) {
                        z-index: 1;
                    }

                    >*:nth-child(2) {
                        z-index: 2;
                    }

                    >*:nth-child(3) {
                        z-index: 3;
                    }
                }
            }

            h4 {
                max-width: rem(404);
                font-size: clamp-font(18, 20);
                font-weight: $font-weight-medium;
                line-height: 1.4;
                letter-spacing: $letter-spacing-2;
                color: $color-foreground-dark;
                opacity: 0.9;
            }
        }
    }

    &__dnCards {
        display: flex;
        justify-content: space-between;
        gap: rem(20);

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: rem(20);

            @media (max-width: 1280px) {
                gap: rem(12);
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            max-width: rem(325);
            padding: rem(24);
            gap: rem(44);
            border-radius: rem(32);
            background: $color-background;

            &__text {
                display: flex;
                flex-direction: column;
                gap: rem(20);

                h1 {
                    // white-space: nowrap;
                    font-size: clamp-font(18, 28);
                    font-weight: $font-weight-medium;
                    line-height: 1.3;
                    letter-spacing: $letter-spacing-minus-2;
                    color: #22282B;
                }

                h2 {
                    font-size: clamp-font(18, 18);
                    font-weight: $font-weight-medium;
                    line-height: 1.3;
                    letter-spacing: $letter-spacing-2;
                    color: $color-primary;
                    opacity: 0.9;
                }

                p {
                    font-size: clamp-font(14, 16);
                    font-weight: $font-weight-medium;
                    line-height: 1.4;
                    letter-spacing: $letter-spacing-2;
                    color: $color-foreground-dark;
                    opacity: 0.5;
                }
            }
        }

        @media (max-width: 1280px) {
            gap: rem(12);
        }
    }

    @media (max-width: 1440px) {
        padding: rem(60) rem(40);
    }

    @media (max-width: 1280px) {
        padding: rem(60) rem(20);
    }
}

.outerCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    aspect-ratio: 1/1;
    background-color: $color-background;
    border-radius: 50%;
    overflow: hidden;
    border: 7.5px solid $color-background;
    box-shadow: 0 0 vw(5) 2px rgba(0, 0, 0, 0.05);
}

.innerPhoto {
    border-radius: 50%;
    object-fit: cover;
}

.circle1 {
    .innerPhoto {
        object-position: -6px -6px;
        scale: 2.8;
    }
}

.circle2 {
    .innerPhoto {
        object-position: center -6px;
        scale: 1.3;
    }
}

.circle3 {
    .innerPhoto {
        object-position: center 2px;
        scale: 1.4;
    }
}

@media (max-width: 1240px) {
    .servicesSection {
        &__dnCards {
            justify-content: center;

            &__row {
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 920px) {
    .servicesSection {
        &__upTitle {
            flex-direction: column;
            gap: rem(28);

            &__teamBlock {
                flex-direction: column-reverse;
            }
        }
    }
}

@media (max-width: 600px) {
    .servicesSection {
        border-radius: rem(36);
        padding: rem(44) rem(12);
        gap: rem(40);

        &__upTitle {
            &__tagsTitle {
                gap: rem(32);
            }

            &__teamBlock {
                &__teamPhotoBlock {
                    gap: rem(11);
                }
            }
        }

        &__dnCards {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 480px) {
    .outerCircle {
        width: 45px;
        border: 4px solid $color-background;
    }

    .circle1 {
        .innerPhoto {
            object-position: -4px -6px;
            scale: 2.2;
        }
    }

    .circle2 {
        .innerPhoto {
            object-position: center -6px;
            scale: 1.2;
        }
    }

    .circle3 {
        .innerPhoto {
            object-position: center 2px;
            scale: 1.4;
        }
    }
}