@use "/src/app/styles/variables.scss" as *;
@use "/src/app/styles/mixins.scss" as *;

.experienceSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: rem(44) rem(34);
  gap: rem(60);

  @media (max-width: 480px) {
    padding: rem(125) rem(24);
    gap: rem(40);
  }

  @media (max-width: 380px) {
    padding: rem(105) rem(14);
    gap: rem(20);
  }

  &__title {
    width: 100%;
    max-width: 835px;
    text-align: center;
    font-size: clamp-font(30, 48);
    font-weight: $font-weight-medium;
    line-height: 132%;
    letter-spacing: $letter-spacing-minus-2;
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 614px;

    h4,
    p {
      text-align: center;
      font-size: clamp-font(16, 20);
      line-height: 1.4;
      letter-spacing: $letter-spacing-2;
    }

    h4 {
      font-weight: $font-weight-bold;
    }

    p {
      opacity: 0.6;
      font-weight: $font-weight-medium;
    }
  }
}

.union {
  position: absolute;
  top: -72px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;

  @media (max-width: 1920px) {
    top: -72px;
    left: 220px;
  }

  @media (max-width: 1512px) {
    top: -72px;
    left: 0;
  }

  @media (max-width: 1440px) {
    top: -290px;
    left: -14px;
  }

  @media (max-width: 920px) {
    top: -290px;
    left: 55px;
  }

  @media (max-width: 480px) {
    transform: rotateX(360deg) scale(0.9) !important;
  }
}
