@use '/src/app/styles/variables.scss' as *;
@use '/src/app/styles/mixins.scss' as *;

.simpleDropdownWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: calc(100% + 14px);
    left: 0;
    background: #F7F9FC;
    border-radius: 18px;
    padding: 18px 14px;
    gap: 16px;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
    }
}

.link {
    color: $color-foreground-dark;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: $letter-spacing-2;
    cursor: pointer;
}